<div role="grid" class="time-date" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
	<div>
		<div class="titles">
            <button type="button" class="btn btn-default btn-sm pull-left arrows" ng-click="move(-1)" tabindex="-1"><i class="fa fa-chevron-left"></i></button>
            <span class="month-year"><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;"><strong>{{title}}</strong></button></span>
            <button type="button" class="btn btn-default btn-sm pull-right arrows" ng-click="move(1)" tabindex="-1"><i class="fa fa-chevron-right"></i></button>
		</div>
		<div class="headers">
			<div ng-if="showWeeks" class="text-center"></div>
			<div ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="{{::label.full}}">{{::label.abbr.slice(0,-2)}}</small></div>
		</div>
	</div>
	<div class="days">
		<div ng-repeat="row in rows track by $index" class="weeks">
			<div ng-if="showWeeks" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></div>
			<div ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{::dt.uid}}">
                <button type="button" style="width:100%;" class="btn btn-default btn-sm" ng-class="{'btn-info': dt.selected, active: isActive(dt), disabled: isDisabled(dt), 'range-selected': dt.customClass}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">{{::dt.label}}</span></button>
			</div>
		</div>
	</div>
</div>