::-moz-selection { /* Code for Firefox */
    background: transparent;

}

::selection {
    background: transparent;
}

.time-date {
    width: 240px;
    outline: none;
}
.datepicker {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
    margin: 20px 0px 0px 20px;
    display: inline-block;
    font-family: 'RobotoDraft', sans-serif;
    outline: none;
}

.datepicker button {
    background: none;
    border: 0;
}

.titles {
    background-color: #939498;
    color: #ffffff;
    padding: 0;
    height: 44px;
}

.datepicker .titles button.arrows {
    border: 2px solid #fff;
    padding: 0;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    color: #fff;
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.datepicker .titles button.arrows .fa-chevron-left {
    margin-top: 1px;
    margin-right: 3px;
}

.datepicker .titles button.arrows .fa-chevron-right {
    margin-top: 1px;
    margin-left: 2px;
}

.titles strong {
    color: #fff;
    font-weight: 500;
}

.headers {
    background: #ebebeb;
    height: 36px;
    color: #737373;
    text-align: center;
    padding: 0px 5px;
}

.headers div {
    display: inline-block;
    line-height: 36px;
    padding: 0px 10px;
}

.headers small {
    font-size: 16px;
}

.weeks {
    text-align: center;
}

.weeks div {
    display: inline-block;
    line-height: 36px;
    padding: 0;
}

.days {
    padding: 8px;
}


.days button.active {
    background-color: #ccc;
}

.days .range-selected {
    background-color: #c6e8f2;
}

.datepicker .days button {
    font-size: 14px;
    padding: 5px 8px;
}

.month-year {
    display: inline-block;
    text-align: center;
    margin: 10px auto 0 auto;
    width: 150px;
}